# Request a freud developer on each pull request.
* @glotzerlab/freud-developers
# Request maintainers for changes to requirements or CI
requirements/* @glotzerlab/freud-maintainers
.github @glotzerlab/freud-maintainers
.pre-commit-config.yaml @glotzerlab/freud-maintainers
