Checks: 'bugprone-*,
         cert-*,
         clang-analyzer-*,
         cppcoreguidlines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*'
