Checks: 'bugprone-*,
         cert-*,
         clang-analyzer-*,
         cppcoreguidlines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -readability-avoid-const-params-in-decls,
         -readability-isolate-declaration,
         -readability-magic-numbers,
         -modernize-use-trailing-return-type,
         -modernize-return-braced-init-list'
