*.kdev4
*.pyc
*.pyo
*.sublime-workspace
*.swp
.DS_Store
.cache
.coverage
.project
.pydevproject
__pycache__
_skbuild
build
compile_commands.json
coverage_html_report
cython_debug
dist
doc/_build/*
doc/build/*
*.egg-info
freud/*.cpp
freud/*.cxx
freud/*.dylib
freud/*.so
html
# pixi environments
.pixi/*
!.pixi/config.toml
