[submodule "extern/fsph"]
	path = extern/fsph
	url = https://bitbucket.org/glotzer/fsph.git
[submodule "extern/Eigen"]
	path = extern/Eigen
	url = https://github.com/glotzerlab/eigen-git-mirror.git
[submodule "doc/source/examples"]
	path = doc/source/examples
	url = https://bitbucket.org/glotzer/freud-examples.git
