*.sublime-workspace
*.pyc
*.pyo
*.dcd
*.mat
*.swp
.DS_Store
*.kdev4
.project
.pydevproject
__pycache__
build
cpp/CMakeLists.txt.orig
cpp/module.cc.orig
py/freud/__init__.py.orig
py/freud/trajectory.py.orig
doc/build/*
doc/_build/*
