[submodule "extern/fsph"]
	path = extern/fsph
	url = https://github.com/glotzerlab/fsph.git
[submodule "extern/Eigen"]
	path = extern/Eigen
	url = https://github.com/glotzerlab/eigen-git-mirror.git
[submodule "extern/voro++"]
	path = extern/voro++
	url = https://github.com/chr1shr/voro.git
[submodule "doc/source/gettingstarted/examples"]
	path = doc/source/gettingstarted/examples
	url = https://github.com/glotzerlab/freud-examples.git
