*.sublime-workspace
*.pyc
*.pyo
*.swp
.DS_Store
*.kdev4
.project
.pydevproject
freud.egg-info
__pycache__
build
dist
doc/build/*
doc/_build/*
freud/*.so
freud/*.cpp
.coverage
coverage_html_report
cython_debug
