repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.4.0'
    hooks:
      - id: end-of-file-fixer
        exclude: '(?:.*\.(ai|txt)|extern/.*)'
      - id: trailing-whitespace
        exclude: '(?:.*\.(ai|txt)|extern/.*|setup\.cfg)'
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.13.0'
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus
  - repo: https://github.com/pycqa/isort
    rev: '5.8.0'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '21.4b0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: '3.9.1'
    hooks:
      - id: flake8
        args:
        - --show-source
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
