repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.4.0'
    hooks:
      - id: end-of-file-fixer
        exclude: '(?:.*\.(ai|txt)|extern/.*)'
      - id: trailing-whitespace
        exclude: '(?:.*\.(ai|txt)|extern/.*|setup\.cfg)'
      - id: debug-statements
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.7.4'
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus
  - repo: https://github.com/pycqa/isort
    rev: '5.7.0'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
        args:
        - --show-source
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
