exclude: (?:^extern/)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v5.0.0'
    hooks:
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            ^.*\.ai|
            ^.*\.txt\
            ^extern/
          )
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            ^.*\.ai|
            ^.*\.txt|
            ^extern/|
            ^setup.cfg
          )
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
        exclude: "\\.clang-format"
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/glotzerlab/fix-license-header
    rev: v0.4.1
    hooks:
      - id: fix-license-header
        name: Fix License Headers (Python)
        exclude: |
          (?x)(
              ^doc/|
              ^extern/|
              ^requirements/
              )
        types_or: [c, c++, python]
        args:
          - --license-file=LICENSE
          - --start=2
          - --num=1
          - --add=This file is from the freud project, released under the BSD 3-Clause License.
          - --keep-before=#!
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v3.20.0'
    hooks:
      - id: pyupgrade
        args:
          - --py39-plus
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.12.2'
    hooks:
    - id: ruff-format
    - id: ruff
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v20.1.7'
    hooks:
      - id: clang-format
        types_or: [c, c++]
