[build-system]
requires = ["setuptools", "wheel", "oldest-supported-numpy", "cython>=0.29.14", "scikit-build>=0.17.3", "cmake"]

[tool.black]
target-version = ['py36']

[tool.isort]
profile = 'black'
