version: 2

references:
  container_ubuntu18: &test_container_config_ubuntu18
    docker:
      - image: glotzerlab/ci:2019.06-ubuntu18.04
    working_directory: ~/ci/freud

  container_ubuntu19: &test_container_config_ubuntu19
    docker:
      - image: glotzerlab/ci:2019.06-ubuntu19.04
    working_directory: ~/ci/freud

  container_manylinux: &container_manylinux
    docker:
      - image: quay.io/pypa/manylinux1_x86_64
    working_directory: ~/ci/freud

  container_macos: &container_macos
    macos:
      xcode: "9.0"
    working_directory: ~/ci/freud

  load_code: &load_code
    checkout

  load_code_centos: &load_code_centos
    # For use with old OS that doesn't support clone over ssh
    run:
      name: Checkout repository without ssh
      command: |
        cd ~/ci/freud
        git clone ${CIRCLE_REPOSITORY_URL} .
        if [ -n "$CIRCLE_TAG" ]
        then
          git reset --hard "$CIRCLE_SHA1"
          git checkout -q "$CIRCLE_TAG"
        elif [ -n "$CIRCLE_BRANCH" ]
        then
          git reset --hard "$CIRCLE_SHA1"
          git checkout -q -B "$CIRCLE_BRANCH"
        fi

  update_submodules: &update_submodules
    run:
      name: Update submodules
      command: |
        git submodule update --init

  get_requirements: &get_requirements
    run:
      name: Install dependencies
      command: |
        $PIP install --user -r requirements-testing.txt

  get_style_requirements: &get_style_requirements
    run:
      name: Install style check dependencies
      command: |
        $PIP install --user flake8==3.7.8

  check_cpp_style: &check_cpp_style
    run:
      name: clang-format
      command: |
        for f in cpp/**/*; do
          if ! diff $f <(clang-format-6.0 -style=file $f) > /dev/null; then
            echo "$f does not match clang-format style."
            diff --color $f <(clang-format-6.0 -style=file $f) || true
          fi
        done

  check_python_style: &check_python_style
    run:
      name: flake8
      command: |
        python${PYVER} -m flake8 --show-source .

  build: &build
    run:
      name: Build
      command: |
        echo "PYVER=${PYVER}"
        rm freud/*.cpp
        python${PYVER} setup.py build_ext --inplace --COVERAGE --ENABLE-CYTHON

  test: &test
    run:
      name: Run unit tests
      command: |
          python${PYVER} -m unittest discover tests -v

  test_cov: &test_cov
    run:
      name: Run unit tests with coverage
      command: |
          export PATH=~/.local/bin:${PATH}
          coverage run -m unittest discover tests -v
          bash <(curl -s https://codecov.io/bash)

  store: &store
    store_artifacts:
      path: test-reports
      destination: test-reports

  benchmark: &benchmark
    run:
      name: Run benchmarks
      command: |
          $PIP install --user -r requirements-testing.txt
          echo 'export PYTHONPATH=$PYTHONPATH:.' >> $BASH_ENV
          echo 'export BENCHMARK_NPROC=2' >> $BASH_ENV
          source $BASH_ENV
          BENCHSCR="benchmarks/benchmarker.py"
          echo "Running benchmark on current HEAD"
          python${PYVER} "$BENCHSCR" run

  comparison: &comparison
    run:
      name: Compare benchmark with origin/master
      command: |
          echo "Comparing with origin/master"
          git reset --hard origin/master
          echo "PYVER=${PYVER}"
          echo 'export PYTHONPATH=$PYTHONPATH:.' >> $BASH_ENV
          echo 'export BENCHMARK_NPROC=2' >> $BASH_ENV
          source $BASH_ENV
          rm freud/*.cpp
          python${PYVER} setup.py build_ext --inplace --COVERAGE --ENABLE-CYTHON
          git checkout "${CIRCLE_SHA1}" -- benchmarks/
          BENCHSCR="benchmarks/benchmarker.py"
          echo "Running benchmark on origin/master"
          python${PYVER} "$BENCHSCR" run
          python${PYVER} "$BENCHSCR" compare origin/master "${CIRCLE_SHA1}"

  store_benchmarks: &store_benchmarks
    store_artifacts:
      path: benchmarks/reports
      destination: benchmarks-reports

  build_and_test: &build_and_test
    steps:
      - *load_code
      - *update_submodules
      - *get_requirements
      - *build
      - *test
      - *store

  build_and_test_with_cov: &build_and_test_with_cov
    steps:
      - *load_code
      - *update_submodules
      - *get_requirements
      - *build
      - *test_cov
      - *store

  load_check_style: &load_check_style
    steps:
      - *load_code
      - *update_submodules
      - *get_style_requirements
      - *check_cpp_style
      - *check_python_style

  build_and_benchmark: &build_and_benchmark
    steps:
      - *load_code
      - *update_submodules
      - *get_requirements
      - *build
      - *benchmark
      - *comparison
      - *store_benchmarks

  build_linux_test_wheels: &build_linux_test_wheels
    steps:
      - run:
          name: Install software
          working_directory: /root/code
          command: yum install -y openssh-clients
      - *load_code_centos
      - *update_submodules
      - run:
          name: Compile Linux wheels
          command: |
            bash .circleci/deploy-linux.sh testpypi

  build_linux_wheels: &build_linux_wheels
    steps:
      - run:
          name: Install software
          working_directory: /root/code
          command: yum install -y openssh-clients
      - *load_code_centos
      - *update_submodules
      - run:
          name: Compile Linux wheels
          command: |
            bash .circleci/deploy-linux.sh pypi

  build_macos_test_wheels: &build_macos_test_wheels
    steps:
      - *load_code
      - *update_submodules
      - run:
          name: Compile Mac wheels
          command: |
            bash .circleci/deploy-macos.sh testpypi

  build_macos_wheels: &build_macos_wheels
    steps:
      - *load_code
      - *update_submodules
      - run:
          name: Compile Mac wheels
          command: |
            bash .circleci/deploy-macos.sh pypi

jobs:
  check-style:
    <<: *test_container_config_ubuntu19
    environment:
      PYVER: "3.7"
      PIP: "pip3"
    <<: *load_check_style

  test-py36:
    <<: *test_container_config_ubuntu18
    environment:
      PYVER: "3.6"
      PIP: "pip3.6"
    <<: *build_and_test

  test-py37:
    <<: *test_container_config_ubuntu19
    environment:
      PYVER: "3.7"
      PIP: "pip3"
    <<: *build_and_test_with_cov

  test-py38:
    <<: *test_container_config_ubuntu19
    environment:
      PYVER: "3.8"
      PIP: "pip3.8"
    <<: *build_and_test

  test-deploy-pypi-linux:
    environment:
      # Force clone over https instead of ssh.
      CIRCLE_REPOSITORY_URL: https://github.com/glotzerlab/freud
    <<: *container_manylinux
    <<: *build_linux_test_wheels

  test-deploy-pypi-macos:
    <<: *container_macos
    <<: *build_macos_test_wheels

  deploy-pypi-linux:
    environment:
      # Force clone over https instead of ssh.
      CIRCLE_REPOSITORY_URL: https://github.com/glotzerlab/freud
    <<: *container_manylinux
    <<: *build_linux_wheels

  deploy-pypi-macos:
    <<: *container_macos
    <<: *build_macos_wheels

  benchmarks:
    <<: *test_container_config_ubuntu18
    environment:
      PYVER: "3.7"
      PIP: "pip3"
    <<: *build_and_benchmark

workflows:
  version: 2
  test:
    jobs:
      - check-style
      - test-py36:
          requires:
            - check-style
      - test-py37:
          requires:
            - check-style
    #  Disabling 3.8 until it's added to the container.
    #  - test-py38:
    #      requires:
    #        - check-style
# Disabled benchmarks on CI - they currently take too much work
#     - benchmarks:
#         requires:
#           - test-py37
      - test-deploy-pypi-macos:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - test-py36
            - test-py37
      - test-deploy-pypi-linux:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - test-py36
            - test-py37

  deploy:
    jobs:
      - deploy-pypi-macos:
          filters:
              tags:
                only: /^v.*/
              branches:
                ignore: /.*/
      - deploy-pypi-linux:
          filters:
              tags:
                only: /^v.*/
              branches:
                ignore: /.*/
