version: 2

references:
  container_ubuntu: &test_container_config_ubuntu
    docker:
      - image: vramasub/freud_py35_ubuntu:20180124
    working_directory: ~/ci/freud

  container_arch: &test_container_config_arch
    docker:
      - image: vramasub/freud_py36_arch:20180124
    working_directory: ~/ci/freud

  load_code: &load_code
    checkout

  get_requirements_ubuntu: &get_requirements_ubuntu
    run:
      name: install dependencies
      command: |
        pip install --user -r requirements.txt
        pip3 install --user -r requirements.txt

  get_requirements_arch: &get_requirements_arch
    run:
      name: install dependencies
      command: |
        pip install --user -r requirements.txt

  configure: &configure
    run:
      name: Configure
      command: |
        if [ -d build ]; then
            rmdir build
        fi
        mkdir build
        cd build
        echo pyver=${PYVER}
        cmake ../ -DPYTHON_EXECUTABLE=/usr/bin/python${PYVER}

  compile: &compile
    run:
      name: Compile
      working_directory: build
      command: |
        make -j4
        make install

  test: &test
    run:
      name: run tests
      command: |
          nosetests ~/ci/freud/tests/

  store: &store
    store_artifacts:
      path: test-reports
      destination: test-reports

  build_and_test_ubuntu: &build_and_test_ubuntu
    steps:
      - *load_code
      - *get_requirements_ubuntu
      - *configure
      - *compile
      - *test
      - *store

  build_and_test_arch: &build_and_test_arch
    steps:
      - *load_code
      - *get_requirements_arch
      - *configure
      - *compile
      - *test
      - *store

jobs:
  test-py27:
    <<: *test_container_config_ubuntu
    environment:
      PYVER: "2.7"
      NOSE: "nosetests"
    <<: *build_and_test_ubuntu

  test-py35:
    <<: *test_container_config_ubuntu
    environment:
      PYVER: "3.5"
      NOSE: "python3.5 -m nose"
    <<: *build_and_test_ubuntu

  test-py36:
    <<: *test_container_config_arch
    environment:
      PYVER: "3.6"
      NOSE: "nosetests"
    <<: *build_and_test_arch

workflows:
  version: 2
  all:
    jobs:
      - test-py27
      - test-py35
      - test-py36
