ase==3.22.1
cmake==3.28.1
coverage==7.4.0
cython==3.0.8
dynasor==1.1.1; platform_system != "Windows"
GitPython==3.1.41
gsd==3.2.1
matplotlib>=3.0.0
numpy==1.26.2
pillow>=8.0.0 --only-binary=pillow
pytest==8.0.0
pytest-cov==4.1.0
rowan==1.3.0.post1
scikit-build==0.17.6
scipy==1.11.4
sympy==1.12
