name: release

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - "main"
      - "nanobind"
      - "next"
    tags:
      - "*"

  pull_request:

  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  name: freud
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  build_wheels:
    name: Build wheels [${{ matrix.python.version }}, ${{ matrix.os.base }}-${{ matrix.os.arch }}]
    runs-on: ${{ matrix.os.base }}-${{ matrix.os.version }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - base: ubuntu
          version: latest
          arch: 'x86_64'
        - base: ubuntu
          version: 24.04-arm
          arch: 'aarch64'
        # - base: windows
        #   version: latest
        #   arch: 'amd64'
        - base: macos
          version: 14
          arch: 'arm64'
        - base: macos
          version: 13
          arch: 'x86_64'

        python:
        # Pinned versions installed in CIBW_TEST_REQIURES are kept. Those defined installed in
        # CIBW_BEFORE_TEST are often upgraded when the wheel is installed. This means we can't
        # store the pinned requirements in a requirements file.
        # Generate these version sets with commands like this:
        # echo -e "numpy==1.21.6\nscipy\ngsd\nmatplotlib\nsympy" | uv pip compile --python-platform linux --python-version 3.9 --only-binary :all: - --resolution=lowest --no-deps
        - version: 'cp39'
          oldest_numpy: '1.22.4'
          oldest_scipy: '1.7.3'
          oldest_gsd: '3.2.0'
          oldest_matplotlib: '3.5.0'
          oldest_pytest: '8.2.1'
          oldest_sympy: '1.10'
        - version: 'cp310'
          oldest_numpy: '1.22.4'
          oldest_scipy: '1.7.3'
          oldest_gsd: '3.2.0'
          oldest_matplotlib: '3.5.0'
          oldest_pytest: '8.2.1'
          oldest_sympy: '1.10'
        - version: 'cp311'
          oldest_numpy: '1.23.2'
          oldest_scipy: '1.9.2'
          oldest_gsd: '3.2.0'
          oldest_matplotlib: '3.6.0'
          oldest_pytest: '8.2.1'
          oldest_sympy: '1.10'
        - version: 'cp312'
          oldest_numpy: '1.26.2'
          oldest_scipy: '1.11.2'
          oldest_gsd: '3.2.0'
          oldest_matplotlib: '3.7.3'
          oldest_pytest: '8.2.1'
          oldest_sympy: '1.10'
        - version: 'cp313'
          oldest_numpy: '2.1.2'
          oldest_scipy: '1.14.1'
          oldest_gsd: '3.4.1'
          oldest_matplotlib: '3.9.2'
          oldest_pytest: '8.2.1'
          oldest_sympy: '1.10'

    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: "recursive"

      - name: Build wheels
        uses: pypa/cibuildwheel@d04cacbc9866d432033b1d09142936e6a0e2121a # v2.23.2
        env:
          CIBW_BUILD: "${{ matrix.python.version }}-*"
          CIBW_SKIP: "{pp*,*-musllinux_*}"

          # Build only on 64-bit architectures.
          CIBW_ARCHS: auto64

          # Configure environment variables.
          CIBW_ENVIRONMENT_LINUX: "CMAKE_PREFIX_PATH=/project/tbb LD_LIBRARY_PATH=/project/tbb/lib/intel64/gcc4.8:$LD_LIBRARY_PATH CMAKE_ARGS=-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=True"
          CIBW_ENVIRONMENT_MACOS: "CMAKE_PREFIX_PATH=/Users/runner/work/freud/freud/tbb:/Users/runner/work/tbb-install CMAKE_ARGS=-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=True"
          MACOSX_DEPLOYMENT_TARGET: "11.0"

          # Set up TBB.
          CIBW_BEFORE_BUILD_LINUX: "source .github/workflows/cibuildwheel-before-build.sh {package} linux"
          CIBW_BEFORE_BUILD_MACOS: "source .github/workflows/cibuildwheel-before-build.sh {package} macos"
          CIBW_BEFORE_BUILD_WINDOWS: "powershell .github/workflows/cibuildwheel-before-build.ps1 {package}"

          # Test the wheels.
          CIBW_TEST_REQUIRES: >
            pytest==${{ matrix.python.oldest_pytest }}
            sympy==${{ matrix.python.oldest_sympy }}
            numpy==${{ matrix.python.oldest_numpy }}
            scipy==${{ matrix.python.oldest_scipy }}
            gsd==${{ matrix.python.oldest_gsd }}
            matplotlib==${{ matrix.python.oldest_matplotlib }}

          CIBW_TEST_COMMAND: "cd {package}/tests && pytest . -v --log-level=DEBUG"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist-${{ matrix.os.base }}-${{ matrix.os.version }}-${{ matrix.python.version }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: "recursive"

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.13"

      - name: Set up Python environment
        uses: glotzerlab/workflows/setup-uv@a36a97114c60241b26217ce92abbb64621ac67c7 # 0.6.0
        with:
          lockfile: ".github/workflows/environments/requirements-build-sdist.txt"

      - name: Build sdist
        run: python -m build --installer uv --sdist --outdir dist/ .

      - name: Check sdist size
        run: du -hs dist/*

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist-sdist
          path: dist/*.tar.gz

  upload_pypi:
    name: Publish [PyPI]
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    concurrency: upload
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          merge-multiple: 'true'
          pattern: dist-*
          path: dist

      - name: Check files
        run: ls -lR dist

      - name: Upload to PyPI
        # upload to PyPI on every tag starting with 'v'
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4

      - name: Upload to TestPyPI
        # upload to TestPyPI on non-tags
        if: ${{ ! startsWith(github.ref, 'refs/tags/v') }}
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true

      - name: Slack notification
        if: startsWith(github.ref, 'refs/tags/v') || failure()
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d # v2.1.0
        with:
          status: ${{ job.status }}
          channel: '#dev-freud'

  source:
    name: Build source tarball
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        path: code
        submodules: true

    - name: Determine filename-safe ref from GITHUB_REF_NAME
      run: echo ref="$(echo "${GITHUB_REF_NAME}" | sed  -e 's/\//-/g')" >> "$GITHUB_ENV"

    - name: Copy source
      run: cp -R code "${name}-${ref}"

    - name: Remove .git
      run: rm -rf "${name}-${ref}/.git"

    - name: Remove examples data
      run: rm -rf "${name}-${ref}/doc/source/gettingstarted/examples" && ls -laR "${name}-${ref}"

    - name: Tar/zstd source
      run: tar --zstd -cvf "${name}-${ref}.tar.zst" "${name}-${ref}"

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: source
        path: |
          *.tar.*

  release-notes:
    name: Extract release notes
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        path: code

    - name: Write release-notes.md
      # 1. Search for the content from the start of the file to the 2nd version heading.
      # 2. Remove the 2nd version heading.
      # 3. Search for the content after the first version heading (removes any description at the
      #    start of the file.
      # 4. Remove the 1st version heading.
      # This leaves the content of the release notes for the current release.
      run: >
        grep -P -m 2 -B 10000 "^## v*\d*\.\d*\.\d*" ChangeLog.md |
        sed '$d' |
        grep -P -A 10000 "^## v*\d*\.\d*\.\d*" |
        sed '1d' |
        tee "${GITHUB_WORKSPACE}/release-notes.md"
      working-directory: code

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: release-notes
        path: |
          release-notes.md

  publish_github:
    name: Publish [GitHub]
    needs: [release-notes, source]
    runs-on: ubuntu-latest

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        merge-multiple: true

    - name: List files
      run: ls -lR

    - name: Create release
      uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          *.zst
        body_path: release-notes.md
        make_latest: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
