name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:

  push:
    branches:
      - "main"
      - "next"

  workflow_dispatch:

jobs:
  run_tests:
    name: Unit test [py${{ matrix.python }} ${{ matrix.os }}]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python: ['312', '313', '314']
        include:
          # Test macOS, windows, and ARM Linux on oldest and latest versions.
          - os: 'ubuntu-24.04-arm'
            python: '314'
          - os: 'macos-15'
            python: '314'
          - os: 'windows-2025'
            python: '314'
          - os: 'windows-2025'
            python: '312'
          - os: 'macos-14'
            python: '312'

    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Create Python Environment
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          pixi-version: v0.54.1
          cache: false
          environments: py${{ matrix.python }}
          activate-environment: true

      - name: Build and Install freud
        run: |
          uv pip install . --no-build-isolation --no-deps -v --system

      - name: Run Tests
        run: pytest tests/ -v

  tests_complete:
    name: All tests
    if: always()
    needs: [run_tests]
    runs-on: ubuntu-latest

    steps:
    - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
    - name: Done
      run: echo "Done."
